#content
{
    margin-left:   32px;
    margin-right:  32px;
    margin-bottom: 16px;
}
#content > header
{
    cursor: default;
}

#option-categories
{
    min-height: 48px;
}
#option-categories > .category
{
    display: inline-block;

    max-width: 200px;
    width:     30%;
    height:    48px;

    text-align:     center;
    vertical-align: middle;
    line-height:    48px;

    font-size: large;
}
#option-categories > .category > input[type="radio"]
{
    display: none;
}
#option-categories > .category > label
{
    display: block;

    width: 100%;
    height: 100%;
}

#options
{
    padding-top: 28px;
}
#options fieldset
{
    border: none;
	cursor: default;
}
#options fieldset > legend
{
    font-weight: bold;
}
#options fieldset > div
{
    padding-left: 28px;
}
#options fieldset > div + div
{
    margin-top: 4px;
}
textarea
{
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}
input
{
    border-width: 1px;
    border-style: solid;
}

#custom-page-style input[type="color"]
{
    height: 1.2em;
}
#custom-page-animation input[type="number"]
{
    width: 48px;
}

#wallpaper-urls-options
{
    display:         flex;
    align-items:     center;
}
#wallpaper-urls
{
    margin-top:    8px;
    margin-bottom: 4px;

    min-width:  150px;
    max-width:  350px;
    max-height: 150px;

    resize: none;

    overflow-x: auto;
    overflow-y: auto;
}
#wallpaper-preview
{
    margin-left: 16px;
    max-width:  150px;
    max-height: 150px;
}

#errors
{
    display: none;

    margin-top:    10px;
    margin-bottom: 10px;
    padding:       10px;
}

#dialog-shadow
{
    display: none;

    position: absolute;
    left: 0;
    top:  0;

    width:  100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.25);
}
#dialog-content
{
    position:absolute;
    left:   0;
    right:  0;
    top:    0;
    bottom: 0;

    margin: auto;
    border: 1px solid dimgray;
    width:  400px;
    height: 150px;
    padding: 16px;
}

#wallpaper-url-import-dialog
{
    display: none;
}
#wallpaper-url-import-dialog > header
{
    margin-bottom:  8px;
    padding-bottom: 8px;

    text-align: center;
    font-weight: bold;
}
#wallpaper-url-import-dialog > input[type="url"]
{
    margin-left: 8px;
    width: 200px;
}
#import-wallpaper-urls-button
{
    visibility: hidden;

    float: right;
}

.indented-once
{
    padding-left: 28px;
}
.indented-twice
{
    padding-left: 46px;
}

.note
{
    font-size: small;
    cursor: default;
}
