@media (max-width: 600px)
{
    #content
    {
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 32px;
    }

    #option-categories
    {
        text-align: center;
    }
    #option-categories > .category
    {
        max-width: none;
        font-size: medium;
    }

    #options fieldset > div
    {
        padding-left: 8px;
    }
    #options fieldset > div + div
    {
        margin-top: 10px;
    }

    #wallpaper-urls
    {
        max-width: 250px;
    }

    #dialog-content
    {
        width: 300px;
        padding: 8px;
    }
}
