body
{
    background-color: #FAFAFD;
    color: #282828;
}

#content
{
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 16px;
}
#content > header
{
	cursor: default;
}

#option-categories
{
    min-height: 48px;
}
#option-categories > .category
{
    display: inline-block;

    border: 1px solid dimgrey;
    border-bottom: 2px solid darkorange;
    max-width: 256px;
    width: 30%;
    height: 48px;

    text-align: center;
    vertical-align: middle;
    line-height: 48px;

    font-size: large;
    background-color: #e8e8e8;
}
#option-categories > .category:hover
{
    background-color: #dddddd;
}
#option-categories > .category:active
{
    background-color: #cacaca;
}
#option-categories > .category > input[type="radio"]
{
    display: none;
}
#option-categories > .category > input[type="radio"]:checked + label
{
    border-bottom: 8px solid darkorange;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#option-categories > .category > label
{
    display: block;

    width: 100%;
    height: 100%;
}

#options
{
    padding-top: 28px;
}
#options fieldset
{
    border: none;
	cursor: default;
}
#options fieldset > legend
{
    font-weight: bold;
}
#options fieldset > div
{
    border-left: 4px solid darkorange;
    padding-left: 28px;
}
#options fieldset > div + div
{
    margin-top: 4px;
}

#custom-page-style input[type="color"]
{
    height: 1.2em;
}
#custom-page-animation input[type="number"]
{
    width: 48px;
}

#wallpaper-urls
{
    margin-top: 8px;
    margin-bottom: 4px;
    min-width: 150px;
    max-width: 350px;
    max-height: 100px;
    resize: none;

    overflow-x: auto;
    overflow-y: auto;
}

#errors
{
    display: none;

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;

    background-color: #ffc0c9;
}
#error-message
{
    color: #9f0000;
}

#dialog-shadow
{
    display: none;

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.25);
}
#dialog-content
{
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    margin:auto;
    width: 400px;
    height: 150px;
    padding: 16px;

    background-color: #FAFAFD;
}

#wallpaper-url-import-dialog
{
    display: none;
}
#wallpaper-url-import-dialog > header
{
    border-bottom: 2px solid darkorange;
    margin-bottom: 8px;
    padding-bottom: 8px;

    text-align: center;
    font-weight: bold;
}
#wallpaper-url-import-dialog > input[type="url"]
{
    margin-left: 8px;
    width: 200px;
}
#import-wallpaper-urls-button
{
    visibility: hidden;

    float: right;
}

.indented-once
{
    padding-left: 28px;
}
.indented-twice
{
    padding-left: 46px;
}

.note
{
    font-size: small;
    color: grey;
    cursor: default;
}
.note:hover
{
    color: inherit;
}
