html
{
    font-size: 10px;
}
@media (min-width: 1600px)
{
    html
    {
        font-size: 17px;
    }
}

body
{
    margin: 0;
    overflow: hidden;
    font-size: 1.75rem;
}

#background
{
    width:  100vw;
    height: 100vh;

    display:         flex;
    justify-content: center;
    align-items:     center;
}

#wallpaper
{
    opacity: 0;
}
#wallpaper.tall
{
    width:  auto;
    height: 100%;
}
#wallpaper.wide
{
    width:  100%;
    height: auto;
}

#top-sites-list
{
    position: fixed;
    left: 10%;
    top:  0;

    width:  80%;
    height: 80%;

    overflow-x: hidden;
    overflow-y: auto;

    transition: opacity 0.25s ease;

    display:         flex;
    flex-direction:  column;
}
#top-sites-list > .button-container > .link-button
{
    display: inline-block;

    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.75);
}

#options-ribbon
{
    position: fixed;
    left:   0;
    bottom: 0;

    width:  100%;
    height: 20%;

    opacity:    0;
    transition: opacity 0.25s ease;

    display:         flex;
    justify-content: center;
    align-items:     center;

    text-align: center;
}
#options-ribbon:hover
{
    opacity: 1;
}

#customize-button
{
    flex-grow: 1;

    padding-top:    1.6rem;
    padding-bottom: 1.6rem;

    background-color: rgba(0, 0, 0, 0.75);
}
