body
{
    font-family: "Segoe UI", sans-serif;
}

.link-button
{
    color:  dodgerblue;
    cursor: pointer;
    text-decoration: none;
}
.link-button:hover
{
    text-decoration: underline;
}
.link-button:active
{
    text-decoration: none;
}
