body
{
    font-family: "Segoe UI", sans-serif;
}

.link-button
{
    color: royalblue;
    cursor: pointer;
}
.link-button:hover
{
    color: dodgerblue;
}
.link-button:active
{
    color: darkblue;
}
